@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}

body{
  font-family:Inter,Arial,sans-serif;
  background:#0f172a;
  color:white;
}

#root{
  min-height:100vh;
}
@keyframes shine {
  0% {
    transform: translateX(-350%) rotate(20deg);
  }

  100% {
    transform: translateX(550%) rotate(20deg);
  }
}